<div class="center"><div class="form-floating mb-3 w-50">
  <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Plant's name</label>
</div>
<div class="form-floating mb-3 w-50">
  <input type="text" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Plant's species</label>
</div>
<div class="form-floating mb-3 w-50">
  <input type="number" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Watering interval days</label>
</div>
</div>
<button class="btn btn-info">Save plant</button>